body {
				margin: 0;
				padding: 0;
				font-family: Helvetica;
				color: #fff;

			}
			canvas {
				margin: 0;z-index: -1;
				padding: 0;
				width: 100%;
				height: 100%;background-image: url('img/background.jpg');
			}
#content {background-color: #333;
				padding: 1px 20px;
				opacity:1;
				filter:alpha(opacity=60);
				border: 1px solid #fff;
				-moz-border-radius: 12px; 
				-webkit-border-radius: 12px;
				margin-bottom: 20px;

}
	